.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.home-header {
  font-size: 3rem; /* Adjust size as needed */
  text-align: center;
}
